<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Bem vindo a {{ title }}!
  </h1>

  <div *ngIf="mainLocal">
    <h2>Mensagem da MAIN - LOCALSTORAGE </h2>
    <h3>{{mainLocal}}</h3>
  </div>

  <div *ngIf="mainSession">
    <h2>Mensagem da MAIN - SESSIONSTORAGE </h2>
    <h3>{{mainSession}}</h3>
  </div>

  <div *ngIf="contatoLocal">
    <h2>Mensagem do contato - LOCALSTORAGE </h2>
    <h3>{{contatoLocal}}</h3>
  </div>

  <div *ngIf="contatoSession">
    <h2>Mensagem do contato - SESSIONSTORAGE </h2>
    <h3>{{contatoSession}}</h3>
  </div>
</div>
